.navbar {
    background-color: var(--theme);
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo {
    color: var(--white);
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0;
}

.link {
    cursor: pointer;
    opacity: 0.7;
}

.link:hover {
    opacity: 1;
    transform: all 0.3s;
}

.profile-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.profile-img {
    border-radius: 50%;
    background-color: grey;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensure the image doesn't overflow the div */
  }
  
  .profile-img img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensure the image covers the div without distortion */
  }