.table-wrapper {
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: var(--shadow);
}

.input-options {
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper {
    width: 72%;
    border-radius: 0.75rem;
    box-shadow: var(--shadow);
}

/* .search-image {
    background-color: white;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75em;
    box-shadow: var(--shadow);
} */

.options-wrapper {
    width: 27%;
    border-radius: 0.75rem;
    box-shadow: var(--shadow);
}

.ant-select {
    width: 100%;
    margin-bottom: 0;
}

.ant-table-wrapper {
    border-radius: 0.75rem;
}

.table-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.table-text {
    font-size: 2rem;
    font-weight: 400;
}

.button-wrapper {
    display: flex;
}

.ant-btn {
    margin-top: 0;
}
